:root {
  --neutralLightColor: #F5F5F6;
  --neutralColor: #e1e2e1;
  --neutralDarkColor: #d0d0d0;
  --primaryColor: #039be5;
  --primaryLightColor: #63ccff;
  --primaryDarkColor: #006db3;
  --secondaryColor: #673ab7;
  --secondaryLightColor: #9a67ea;
  --secondaryDarkColor: #320b86;
  --primaryTextColor: #212121;
  --secondaryTextColor: #ce93d8;
  --neutralTextLightColor: #ffffff;
  --neutralTextDarkColor: #000000;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body > .pager {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  scroll-snap-destination: 0 100%;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  display: grid;
  grid-template: "carousel ." "map detail" "booking .";
  grid-template-rows: 100vh 100vh 100vh;
  grid-template-columns: 100vw 50vw;
  transition: all 1s;
}
body > .pager::-webkit-scrollbar {
  width: 0 !important;
}
body > .pager .page {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
body > .pager #carousel {
  grid-area: carousel;
}
body > .pager #carousel .carousel {
  flex-grow: 1;
}
body > .pager #map {
  grid-area: map;
}
body > .pager #map #mapid {
  flex-grow: 1;
}
body > .pager #details {
  overflow: hidden;
  box-shadow: 2.5px 0 15px 2.5px rgba(0, 0, 0, 0.75);
  z-index: 550;
  grid-area: detail;
  background: white;
  position: relative;
  left: 0;
  transition: all 0.5s;
}
body > .pager #details.open {
  left: -50vw;
}
body > .pager #booking {
  grid-area: booking;
}
.multibar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.multibar:after,
.multibar:before {
  content: "";
  flex-grow: 1;
}
.multibar > .left {
  order: -1;
}
.multibar > .right {
  order: 1;
}
header {
  position: relative;
  z-index: 500;
  padding: 1px 10px;
  background: var(--primaryColor);
  color: var(--neutralTextDarkColor);
  box-shadow: 0 2.5px 15px 2.5px rgba(0, 0, 0, 0.75);
}
header > * {
  margin: 10px;
}
header a {
  color: var(--neutralTextDarkColor);
}
canvas {
  border: 1px solid var(--neutralDarkColor);
}
#mapid {
  min-height: 50px;
}
.carousel {
  position: relative;
  background: var(--neutralDarkColor);
}
.carousel .navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0;
  text-shadow: 1px 1px 5px black;
  color: white;
}
.carousel .navigation .active,
.carousel .navigation .next,
.carousel .navigation .pause,
.carousel .navigation .play,
.carousel .navigation .prev {
  color: var(--primaryLightColor);
}
.carousel .navigation:after,
.carousel .navigation:before {
  content: "";
  flex-grow: 1;
}
.carousel .navigation > * {
  list-style: none;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .navigation .next,
.carousel .navigation .prev {
  font-size: 200%;
}
.carousel .navigation .prev {
  order: -1;
}
.carousel .navigation .next {
  order: 1;
}
.carousel .navigation .pause,
.carousel .navigation .play {
  order: 1;
}
.carousel .navigation .hidden {
  display: none;
}
.carousel .slides .slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: absolute;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.carousel .slides .slide:before {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 75vh;
  color: var(--neutralColor);
  justify-content: center;
  align-items: center;
}
.carousel .slides .slide * {
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}
.carousel .slides .slide h3 {
  text-align: center;
  font-size: 2em;
}
.carousel .slides .slide p {
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  line-height: 2em;
}
.carousel .slides .slide a {
  margin: 20px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  background: var(--secondaryColor);
  color: var(--neutralTextLightColor);
}
.carousel .slides .slide.active {
  opacity: 100;
  left: 0;
}
.carousel .slides .slide.active ~ * {
  opacity: 0;
  left: 100%;
}
.carousel .slides #slide1 {
  background: #81d4fa;
}
.carousel .slides #slide1:before {
  color: #b2e5fc;
}
.carousel .slides #slide2 {
  background: #f8bbd0;
}
.carousel .slides #slide2:before {
  color: #fde9f0;
}
.carousel .slides #slide3 {
  background: #a5d6a7;
}
.carousel .slides #slide3:before {
  color: #c8e6c9;
}
.carousel .slides #slide4 {
  background: #ffe082;
}
.carousel .slides #slide4:before {
  color: #ffedb5;
}
.group0,
.group100,
.group25,
.group50,
.group75,
.station0,
.station100,
.station25,
.station50,
.station75 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  border: 5px solid red;
}
.group0,
.station0 {
  border-color: #c92026;
  box-shadow: 0 0 20px 5px #c92026;
}
.group25,
.station25 {
  border-color: #c96f20;
  box-shadow: 0 0 20px 5px #c96f20;
}
.group50,
.station50 {
  border-color: #c9c420;
  box-shadow: 0 0 20px 5px #c9c420;
}
.group75,
.station75 {
  border-color: #7ac920;
  box-shadow: 0 0 20px 5px #7ac920;
}
.group100,
.station100 {
  border-color: #2097c4;
  box-shadow: 0 0 20px 5px #2097c4;
}
.station0,
.station100,
.station25,
.station50,
.station75 {
  border-bottom-left-radius: 0;
  box-shadow: 1px 1px 10px black;
}
.book {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.book:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
