// out: style.css

:root {
	--bg-neutral: #e1e2e1;
	--fg-neutral: #000000;
	--bg-neutral-light: #F5F5F6;
	--fg-neutral-light: #000000;
	--bg-neutral-dark: #F5F5F6;
	--fg-neutral-dark: #000000;
	--bg-main: #1e88e5;
	--fg-main: #000000;
	--bg-light: #6ab7ff;
	--fg-light: #000000;
	--bg-dark: #005cb2;
	--fg-dark: #ffffff;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
/*
*:hover {
	outline:red 1px dotted;
	background:rgba(255,0,0,0.1);
}
*/
body {
	margin: 0;
	height:100vh;
	display:flex;
	flex-direction: column;
	overflow-x: hidden;
	.pager {
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: mandatory;
		scroll-snap-destination: 0 100%;
		scroll-snap-points-y: repeat(100vh);
		scroll-snap-type: y mandatory;
		&::-webkit-scrollbar { width: 0 !important }
		.page {
			scroll-snap-align: center;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			align-items: stretch;
			align-content: stretch;
		}
		display: grid;
		grid-template: "carousel ." "map detail" "booking .";
		grid-template-rows: 100vh 100vh 100vh;
		grid-template-columns: 100vw 50vw;
		transition: all 1s;

		#carousel {
			grid-area: carousel;

			.carousel {
				flex-grow: 1;
			}
		}

		#map {
			grid-area: map;

			#mapid {
				flex-grow: 1;
			}
		}

		#details {
			overflow: hidden;
			box-shadow: 2.5px 0 15px 2.5px rgba(0,0,0,0.75);
			z-index: 550;
			grid-area: detail;
			background: white;
			position: relative;
			left: 0;
			transition: all 0.5s;
		}

		#details.open {
			left: -50vw;
		}

		#booking {
			grid-area: booking;
		}
	}
}
.multibar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&:before,&:after {
		content: "";
		flex-grow: 1;
	}

	& > .left {
		order: -1;
	}

	& > .right {
		order: 1;
	}
}
header {
	position: relative;
	z-index: 500;
	padding: 1px 20px;
	background: var(--bg-main);
	color: var(--fg-main);
	box-shadow: 0 2.5px 15px 2.5px rgba(0,0,0,0.75);
}
canvas {
	border:1px solid silver;
}
#mapid {
	min-height: 50px;
}

.carousel {
	position: relative;

	.navigation {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		padding: 0;

		&:after,
		&:before {
			content: "";
			flex-grow: 1;
		}

		& > * {
			list-style: none;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.prev {
			order: -1;
			font-size:150%;
		}

		.next {
			order: 1;
			font-size:150%;
		}
	}
}
